.container {
  width: 70%;
  margin: auto;
  border: 1px solid red;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid blue;
  background: url("./img/ToDo-List.png");
}
.logo > img {
  width: 20%;
}
.formDiv h1 {
  text-align: center;
}
form {
  display: grid;
  justify-content: center;
}
label {
  text-align: center;
  font-size: 18px;
}
#title {
  width: 110%;
  height: 26px;
  border-radius: 7px;
  outline: none;
  border: 1px solid black;
}
.input {
  display: flex;
}
#button {
  padding: 0px 20px;
  margin-left: 5px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  background-color: grey;
  color: white;
  border-radius: 10px;
}

.appendDiv {
  display: grid;
  justify-content: center;
  align-items: center;
}
.remove-btn {
  padding: 0px 20px;
  margin-left: 10px;
  font-size: 14px;
  height: 30px;
  border: none;
  background-color: grey;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.display {
  display: flex;
  justify-content: center;
  align-items: center;
}
